*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.parent-container{
    background-color: aqua;
    height: 800px;


    display: flex; /* flex is used to change layout vertical format into horizontal format */
    flex-direction: column;
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; flex-wrap is used to divide the elements in multiple rows within the given space */

    /* justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; 
    justify-content: flex-start; */
    justify-content: flex-end;
    align-items: center;
}

.child-container{
    width: 200px;
    height: 200px;
    background-color: purple;
    margin: 16px;
    font-size: 40px;
    color: white;
}